@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color:rgb(186, 204, 199);
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 40px;

}

main{
    display:flex;
    flex-direction: column;
}

header h1, #formular {
    margin-bottom: 80px;

}

#todos{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

input[type="text"]:focus{
background-color: forestgreen;
}
input[type="text"], #buton-formular{
    transition: all 0.5s;
}


#buton-formular:hover{
background-color:aqua;
cursor: pointer;
}

ul {
    list-style-type: none;
}

li{
    display:flex;
    justify-content: space-between;
}

.completed{
    text-decoration:line-through;
    opacity: 0.6;

}

@media only screen and (max-width: 600px) {
 body{
    font-size: 0.5rem;
 } 
 
}